p,h3,h1,h2,h4,h5,h6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
a{
    color:black !important;
    text-decoration: none !important;
}
header{ 
    border-bottom: black 1px solid;
}
#logo{
  height: 50px;
}
#header-bottone{
  border-radius: 5px;
  background-color: #5c0c93;
}
#header-bottone-text{
    color: white !important;
}
.topDiv{
    width: 314px !important;
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h5{
    font-size: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dataDiv{
    width: 314px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border-top: 0px;
    border-style: solid;
    border-color: #D2D2D2;
    box-shadow:  1px 1px 1px #D2D2D2;
}
.dirigente{
    background-color: #53277e;
}
.manager{
    background-color: #2e2d88;
}
.tecnico{
    background-color: #65ade8;
}
/*Header Rersponsive*/
.hamburger{
  display: none;
}
@media screen and (max-width: 1100px){
  #logo{
    height: 45px;
  }
}
@media screen and (max-width:1000px){
  .esci1{
    display: none;
  }
}
@media screen and (max-width: 900px){
  #logo{
    height: 40px;
  }
}
@media screen and (max-width: 700px){
  #logo{
    height: 35px;
  }
}
@media screen and (max-width: 600px){
  #logo{
    height: 30px;
  }
  .esci1{
    display: block !important;
  }
  .hamburger{
      display: block !important;
  }
  .esci{
      display: none !important;
  }
}
@media screen and (max-width: 400px){
  #logo{
    height: 25px;
  }
}

.footer-titles{
  color:#65ade8;
  font-size: 24px;
}
  
  .footer-title{
    font-size: 30px;
  }
  .footer-termini{
    font-size: 14px;
  }
  .footer-text{
    font-size: 18px;
  }
  
  /*footer responsive*/
  @media screen and (max-width:500px){
    .footer-titles{
      font-size: 15px;
    }
    #footer-esci{
      display: none !important;
    }
  }
  