.topDiv{
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h5{
    font-size: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dataDiv{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: 185px;
    border-top: 0px;
    border-style: solid;
    border-color: #D2D2D2;
    box-shadow:  1px 1px 1px #D2D2D2;
}
.dirigente{
    background-color: black;
}
.manager{
    background-color: #C32F00;
}
.tecnico{
    background-color: #6161FF;
}
/*Header Rersponsive*/
.hamburger{
    display: none;
}
@media screen and (max-width: 600px){
    .hamburger{
        display: block !important;
    }
    .esci{
        width: 0px !important;
        display: none;
    }
}