.swiper {
    height:500px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.carta{
    border-radius: 10px;
    height: 275px;
    border-color: 888888;
    box-shadow: 2px 5px #888888;
}
.i{
    height: 40px;
}
.carte{
  margin-top: -50px;
  z-index: 1;
  position: relative;
}
.testo6{
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p,h3,h1,h2,h4,h5,h6{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#divisorio{
  border-color:  black;
  border-top: 3px;
  border-bottom: 3px;
  border-left: 0px;
  border-right: 0px;
  border-style:solid;
}
#titoloC{
  color: rgba(179, 133, 83, 1);
  font-size: 32px;
}
a{
  color: rgba(179, 133, 83, 1);
}
#testoC{
  font-size: 16px;
}

.card-Job{
  border-radius: 20px;
}
.card-Title{
  color: #6161FF;
  font-size: 32px;
}
.card-Button{
  border:solid 1px;
  border-color: #00B0FF;
  border-radius: 10px;
  background-color: #BFDEEC;
  color:#808080;
  font-size:24px;
}
.footer-titles{
  color:#0000FF;
  font-size: 24px;
}

.footer-title{
  font-size: 30px;
}
.footer-termini{
  font-size: 14px;
}
.footer-text{
  font-size: 18px;
}



/*animazioni*/
.n1,.n2,.n3{
  height: 250px;
}
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

div.n1 {
  animation: counter 5s alternate ease-in-out forwards;
  counter-set: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
  animation-timing-function: linear;
}
div.n1::before {
  content: counter(num);
}
@property --num2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

div.n2 {
  animation: counter 5s alternate ease-in-out forwards;
  counter-set: num2 var(--num2);
  font: 800 40px system-ui;
  padding: 2rem;
  animation-timing-function: linear;
}
div.n2::before {
  content: counter(num2);
}
@property --num3 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

div.n3 {
  animation: counter 5s alternate ease-in-out forwards;
  counter-set: num3 var(--num3);
  font: 800 40px system-ui;
  padding: 2rem;
  animation-timing-function: linear;
}
div.n3::before {
  content: counter(num3);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 200;
  }
  from {
    --num2: 0;
  }
  to {
    --num2: 300;
  }
  from {
    --num3: 0;
  }
  to {
    --num3: 30;
  }
}

/*Header Responsive*/
.hamburger{
  display: none;
}
@media screen and (max-width: 600px){
  .hamburger{
      display: block !important;
  }
  .esci{
      display: none !important;
  }
}

/*card carousel responsive*/
.card-entra{
  display: none;
}
@media screen and (max-width:900px){
  .card-entra{
    display: block !important;
  }
  .card-esci{
    display: none !important;
  }
}
/*two col-6 responsive*/
.row-entra{
  display: none !important;
}
@media screen and (max-width:900px){
  .row-esci{
    display: none !important;
  }
  #divisorio{
    border-top: 0px;
  }
  .row-entra{
    display: block !important;
  }
}

/*call to action responsive*/
#callToActionNoImg{
  display: none !important;
}
@media screen and (max-width:900px){
  #callToAction{
    display: none !important;
  }
  #callToActionNoImg{
    display: block !important;

  }
}

/*offerte di lavoro responsive*/
@media screen and (max-width:900px){
  .offerte-esci{
    display: none !important;
  }
}

/*contatori responsive*/
@media screen and (max-width:400px){
  .ciao{
    display: none !important;
  }
  .n1,.n2,.n3{
    font-size: 20px !important;
  }
}
/*footer responsive*/
@media screen and (max-width:500px){
  .footer-title,.footer-titles{
    font-size: 15px;
  }
  #footer-esci{
    display: none !important;
  }
}

