/* CSS LETTERA DI RICHIAMO*/
.container {
    text-align: center;
}
form {
    /* Stile, spessore e colore del bordo */
    padding: 20px;
    /* Aggiungi spazio intorno ai bordi della form */
    margin: 20px auto;
    /* Centra la form nella pagina e aggiungi margine sopra e sotto */
    max-width: auto;
}
#form{
    border-radius:20px;
    background-image: linear-gradient(125deg,black,rgb(43, 43, 43),rgb(66, 66, 66),rgb(83, 83, 83));
}
#primo{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: linear-gradient(#090099,#0C00C3, #28D7FF);
    height: 375px !important;
     
}
#titolo{
    color:white;
    font-size: 28px ; 
}
#bottone.blocco{
    color:white;
    background-color: #090099;
    width: 300px;
}
.titoloInput{
    color: white;
}

/*Header responsive*/
.hamburger{
    display: none;
}
@media screen and (max-width: 600px){
    .hamburger{
        display: block !important;
    }
    .esci{
        display: none;
    }
}

/*Form responsive*/
@media screen and (max-width: 900px){
    #col-esci{
        display: none !important;
    }
}