/* CSS LETTERA DI RICHIAMO*/
.container {
    text-align: center;
}

/* rendi la form più piccola */
.form-control {
    width: 50%;
    /* margin-left: 45%; */
}

form {
    /* Stile, spessore e colore del bordo */
    padding: 20px;
    /* Aggiungi spazio intorno ai bordi della form */
    margin: 20px auto;
    /* Centra la form nella pagina e aggiungi margine sopra e sotto */
    max-width: auto;
}
#form{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #6e6e6e;
}
#primo{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: aquamarine;
    height: 275px !important;
}
